@model final.Models.Plan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Student</label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TeacherCourseId" class="control-label">Teacher - course</label>
                <select asp-for="TeacherCourseId" class="form-control" asp-items="ViewBag.TeacherCourseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Not" class="control-label"></label>
                <input asp-for="Not" class="form-control" />
                <span asp-validation-for="Not" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isPassed" /> @Html.DisplayNameFor(model => model.isPassed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

