@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<h1>Student - login</h1>
<form asp-action="StudentLogin" method="post">
    email:
    <input type="text" name="mail" value="" />
    password:
    <input type="password" name="password" value="" />
    <input type="submit" value="submit" />
</form>
<h1>Teacher - login</h1>
<form asp-action="TeacherLogin" method="post">
    email:
    <input type="text" name="mail" value="" />
    password:
    <input type="password" name="password" value="" />
    <input type="submit" value="submit" />
</form>